

<!-- <button mat-flat-button class="student-button my-5 mx-3">
    Borrar estudiante
    <mat-icon>delete</mat-icon>
</button> -->

<p></p>

<form class="my-5">
    <mat-form-field class="col-2">
        <mat-label>Nombre</mat-label>
        <input matInput />
    </mat-form-field>
    <mat-form-field class="col-2">
        <mat-label>Apellido</mat-label>
        <input matInput />
    </mat-form-field>
    <p></p>
    <mat-form-field class="col-3">
        <mat-label>Correo Electronico</mat-label>
        <input matInput />
    </mat-form-field>
    <mat-form-field class="col-1">
        <mat-label>Edad</mat-label>
        <input matInput />
    </mat-form-field >
    <p></p>
    <button mat-flat-button class="student-button col-4">
        Crear estudiante
        <mat-icon>add</mat-icon>
    </button>
</form>